*, *::before , *::after {
    box-sizing: border-box;
}


/* HEADER */

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 10px 0px;
}

/* .Logo {
    width: 300px;
} */

.Nav-ul {
    padding: 0;
    margin: 0;
    display: flex;
}

.Nav-ul-li {
    padding: .5em;
    list-style-type: none;
}

.Nav-ul-li-a {
    text-decoration: none;
    font-size: 1.1em;
    color: black;
}

.Selected {
    font-weight: bold;
    color: #28476E;
}

.AcercaDe {
    background: #6FB0ED;
}
/* HEADER */

.Buscar-Articulo {
    background: #F4F4F4;
    padding: 15px;
    border-radius: 10px;
    margin: 30px 0px;
}

.Buscar-Articulo input {
    border: 0;
    background: rgb(241, 241, 241);
    
    outline: 0;
    font-size: 14px;
}

.Imagen-Articulo {
    width: 100%;
}

.See-All {
    font-size: 24px;
}

.texto-azul {
    color: #5283B8;
}

.texto-azul-oscuro {
    color: #1F3F68;
    
}

.Contacto {
    /* height: 15em; */
    background: #316099;
    border-radius: 0 10em 0 0;
}

.Btn-bg {
    background: #5A98D0;
}

.Contacto-Titulo {
    font-size: 36px;
    padding-right: 150px;
}


/* MOBILE */
@media (max-width: 576px) {
    .See-All {
        font-size: 16px;
    }

    h2 {
        padding-top: 10px;
        font-size: 20px;
    }

    h3 {
        font-size: 22px;
    }

    .Contacto-Titulo {
        font-size: 28px;
        padding-right: 0px;
    }
}